{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}

				<form class="form-inline" id="pin-form" action="{% url check_user_in_out %}" method="post">
					{% csrf_token %}

					<input name="pin" id="pin-input" type="password" placeholder="Type in your #PIN" maxlength="5" autofocus="autofocus">

					<div id="response"></div>

					<div class="keyboard">
						<button class="btn btn-primary key">1</button>
						<button class="btn btn-primary key">2</button>
						<button class="btn btn-primary key">3</button>
						<br/>
						<button class="btn btn-primary key">4</button>
						<button class="btn btn-primary key">5</button>
						<button class="btn btn-primary key">6</button>
						<br/>
						<button class="btn btn-primary key">7</button>
						<button class="btn btn-primary key">8</button>
						<button class="btn btn-primary key">9</button>
						<br/>
						<button class="btn btn-primary key">0</button>
						<br/>
						<button class="btn btn-inverse" id="pin-clear">Clear</button>
					</div>

				</form>

{% endblock %}