body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

.pin {
  text-align: center;
}

.pin input {
  height: 30px;
}

.keyboard {
    margin: 10px;
}

.keyboard-btn {
    margin: 2px;
    padding: 10px 15px;
    font-size: 2.5em;
}



